.login-form{
    .termsAndConditions{
        .ui.input{
            width: 5% !important;
            input{
                height: 18px;
            }
        }
    }
    .actions{
        @media (max-width: $screen-sm-min) {
            .ui.button.submit{
                width: 100%;
            }

            .ui.basic.button{
                width: 100%;
                margin-top: 10px !important;
            }
        }
    }
}