.top-bar{
    // height: 60px;
    background-color: $color-primary;

    .ui.grid{
        margin: 0;
        padding: 0;
        .column{
            padding: 0;
        }
    }

    &__left{
        display: flex !important;
        align-items: center;

        img{
            height: 40px;
            transition: all 0.5s;

            &:hover{
                transform: translateX(-15px);
            }
        }
    }

    &__center{
        display: flex !important;
        align-items: center;
        justify-content: center;

        .ui.input{
            align-items: center;
            width: 100%;

            input{
                color: $font-dark;
                padding: 5px 10px;
                font-size: 20px;
            }

            i{
                color: $color-primary;
                opacity: 1 !important;
                font-size: 18px;
            }
        }
    }

    &__right{
        display: flex !important;
        align-items: center;
        justify-content: flex-end;

        .ui.menu{
            border: 0;
            box-shadow: none;
            height: 100%;
            background: transparent;
        }

        .item{
            color: $color-third;
            border-radius: 0 !important;

            &:hover{
                background-color: $color-secondary;
                color: $font-dark;
            }
        }

        i.icon, i.icons{
            color: #fff;
            font-size: 20px;
        }
    }
}