.top-bar{
    background-color: $color-primary;

    .ui.grid{
        margin: 0;
        padding: 0;
        .column{
            padding: 0;
        }
    }

    &__left{
        display: flex !important;
        align-items: center;

        img{
            width: 100%;
            transition: all 0.5s;

            @include md {
                width: 50%;
            }

            &:hover{
                transform: translateX(-15px);
            }
        }
    }

    &__center{
        display: flex !important;
        align-items: center;
        justify-content: center;

        .ui.input{
            align-items: center;
            width: 100%;

            input{
                color: $font-dark;
                padding: 5px 10px;
                font-size: 20px;
            }

            i{
                color: $color-primary;
                opacity: 1 !important;
                font-size: 18px;
            }
        }
    }

    &__right{
        display: flex !important;
        align-items: center;
        justify-content: center;

        .ui.menu{
            border: 0;
            box-shadow: none;
            height: 100%;
            width: 450px;
            background: transparent;

            .item{
                color: $color-secondary;
                display: flex !important;
                justify-content: center !important;
                align-items: center !important;
                border: 0;
                border-radius: 0 !important;
                width: 100%;
                padding: 0px 50px;
    
                &:hover{
                    // background-color: $color-third;
                    color: $font-dark;
                }
            }
        }


        i.icon, i.icons{
            border: 0;
            color: #fff;
            font-size: 20px;
        }
    }
}