.categorias{
    background-color: $color-secondary;
    border-radius: 0;

    .ui.grid{
        margin: 0;
    }

    &__disponibles{
        padding: 0 !important;
        display: flex !important;
        align-items: center;
        justify-content: center;

        .ui.menu{
            border: 0;
            box-shadow: none;
            height: 100%;
            background: transparent;

            .icon{
                margin-right: 10px !important;
                color: $font-light;
            }

            .item{
                color: $color-third;
                border-radius: 0 !important;

                &:hover{
                    background-color: $color-primary;
                    color: $font-dark;
                }
            }
        }
    }
}