.order{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 20px;
    background-color: $background-light;
    box-shadow: 1px 1px 2px 0 rgba(0,0,0,0.1);
    border-radius: 5px !important;

    
    &__info{
        display: flex;
        flex-direction: column;
        
        p:first-child{
            font-weight: bold;
            font-size: 18px;
            margin-bottom: 0;
        }

        span{
            color: $color-primary;
            font-weight: bold;
            margin-bottom: 12px;
        }

        .destination{
            display: flex;

            i{
                margin-right: 10px;
                color: $color-secondary;
            }

            p{
                font-weight: bold;
            }
        }

        &-item{
            display: flex;
            align-items: center;

            img{
                width: 25%;
                border-radius: 50%;
                margin-right: 10px;
            }
        }
    }

    // &__other{
    //     display: flex;
    //     align-items: center;
    //     padding-right: 10px;
    //     &-date{
    //         margin: 0 20px 0 0;
    //         width: 125px;
    //     }
    //     i{
    //         padding-left: 20px;
    //         color: $color-primary;
    //     }
    // }
}